@tailwind base;
@tailwind components;
@tailwind utilities;

/* .App {
  text-align: center;
} */

.board-row {
  display: flex;
  flex-direction: row;
  margin: 0; /* Hapus margin */
}

.o-text {
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ffa500, #ff6347);
}

.x-text {
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #0077ff, #00ffff);
}
